.view-carousel {

  position: relative;
  overflow: hidden;

  & > [ng-switch-when].ng-animate {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  &.to-next-view > [ng-switch-when] {

    &.ng-enter {
      left: 100%;
    }
    &.ng-enter.ng-enter-active {
      left: 0;
    }
    &.ng-leave {
      left: 0;
    }
    &.ng-leave.ng-leave-active{
      left: -100%;
    }
  }

  &.to-prev-view > [ng-switch-when] {

    &.ng-enter {
      left: -100%;
    }
    &.ng-enter.ng-enter-active {
      left: 0;
    }
    &.ng-leave {
      left: 0;
    }
    &.ng-leave.ng-leave-active{
      left: 100%;
    }
  }

  .view-carousel-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
  }
} // /.view-carousel



//
// Demo styles
//

#view-carousel-1 {
  width: 450px;
  height: 400px;

  & > [ng-switch-when] {
    padding: 10px;
  }
}

.view-carousel {
  border: 1px solid #999;
}
