.view-slider {

  position: relative;
  overflow: hidden;

  & > [ng-switch-when].ng-animate {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

} // /.view-slider


.sliding-door-slider {

  & > [ng-switch-when] {

    &#door2.ng-enter {
      left: 100%;
    }
    &#door2.ng-enter.ng-enter-active {
      left: 0;
    }
    &#door1.ng-leave {
      left: 0;
    }
    &#door1.ng-leave.ng-leave-active{
      left: -100%;
    }

    &#door1.ng-enter {
      left: -100%;
    }
    &#door1.ng-enter.ng-enter-active {
      left: 0;
    }
    &#door2.ng-leave {
      left: 0;
    }
    &#door2.ng-leave.ng-leave-active{
      left: 100%;
    }
  }
} // /.slidering-door-slider


.fly-in-slider {

  & > [ng-switch-when] {

    &.ng-enter {
      left: 100%;
    }
    &.ng-enter.ng-enter-active {
      left: 0;
    }

    &.ng-leave {
      left: 0;
    }
    &.ng-leave.ng-leave-active{
      left: -100%;
    }
  }
} // /.fly-in-slider


//
// Demo styles
//

#view-slider-1,
#view-slider-2 {
  width: 400px;
  height: 360px;

  & > [ng-switch-when] {
    padding: 10px;
  }
}
