<h2>Buttons</h2>
<hr>

<h3>Extra large buttons</h3>
<p>
	<button type="button" class="btn btn-xl btn-default">Default XL</button>
	<button type="button" class="btn btn-xl btn-primary">Primary XL</button>
	<button type="button" class="btn btn-xl btn-success">Success XL</button>
	<button type="button" class="btn btn-xl btn-info">Info XL</button>
	<button type="button" class="btn btn-xl btn-warning">Warning XL</button>
	<button type="button" class="btn btn-xl btn-danger">Danger XL</button>
	<button type="button" class="btn btn-xl btn-link">Link XL</button>

	<pre>
		<code class="language-markup" ng-prism>&lt;button type="button" class="btn btn-xl btn-default"&gt;Default XL&lt;/button&gt;
		&lt;button type="button" class="btn btn-xl btn-primary"&gt;Primary XL&lt;/button&gt;
		&lt;button type="button" class="btn btn-xl btn-success"&gt;Success XL&lt;/button&gt;
		&lt;button type="button" class="btn btn-xl btn-info"&gt;Info XL&lt;/button&gt;
		&lt;button type="button" class="btn btn-xl btn-warning"&gt;Warning XL&lt;/button&gt;
		&lt;button type="button" class="btn btn-xl btn-danger"&gt;Danger XL&lt;/button&gt;
		&lt;button type="button" class="btn btn-xl btn-link"&gt;Link XL&lt;/button&gt;</code
	></pre>
</p>
<hr>

<h3>Large buttons</h3>
<p>
	<button type="button" class="btn btn-lg btn-default">Default LG</button>
	<button type="button" class="btn btn-lg btn-primary">Primary LG</button>
	<button type="button" class="btn btn-lg btn-success">Success LG</button>
	<button type="button" class="btn btn-lg btn-info">Info LG</button>
	<button type="button" class="btn btn-lg btn-warning">Warning LG</button>
	<button type="button" class="btn btn-lg btn-danger">Danger LG</button>
	<button type="button" class="btn btn-lg btn-link">Link LG</button>
</p>
<hr>

<h3>Regular buttons</h3>
<p>
	<button type="button" class="btn btn-default">Default</button>
	<button type="button" class="btn btn-primary">Primary</button>
	<button type="button" class="btn btn-success">Success</button>
	<button type="button" class="btn btn-info">Info</button>
	<button type="button" class="btn btn-warning">Warning</button>
	<button type="button" class="btn btn-danger">Danger</button>
	<button type="button" class="btn btn-link">Link</button>
</p>
<hr>

<h3>Small buttons</h3>
<p>
	<button type="button" class="btn btn-sm btn-default">Default SM</button>
	<button type="button" class="btn btn-sm btn-primary">Primary SM</button>
	<button type="button" class="btn btn-sm btn-success">Success SM</button>
	<button type="button" class="btn btn-sm btn-info">Info SM</button>
	<button type="button" class="btn btn-sm btn-warning">Warning SM</button>
	<button type="button" class="btn btn-sm btn-danger">Danger SM</button>
	<button type="button" class="btn btn-sm btn-link">Link SM</button>
</p>
<hr>

<h3>Extreme small buttons</h3>
<p>
	<button type="button" class="btn btn-xs btn-default">Default XS</button>
	<button type="button" class="btn btn-xs btn-primary">Primary XS</button>
	<button type="button" class="btn btn-xs btn-success">Success XS</button>
	<button type="button" class="btn btn-xs btn-info">Info XS</button>
	<button type="button" class="btn btn-xs btn-warning">Warning XS</button>
	<button type="button" class="btn btn-xs btn-danger">Danger XS</button>
	<button type="button" class="btn btn-xs btn-link">Link XS</button>
</p>
<hr>

<h3>Transparent buttons</h3>
<p class="dark-bg">
	<button type="button" class="btn btn-lg btn-trans">btn-trans Exlarge</button>
	<button type="button" class="btn btn-lg btn-trans">btn-trans large</button>
	<button type="button" class="btn btn-trans">btn-trans</button>
	<button type="button" class="btn btn-sm btn-trans">btn-trans sm</button>
	<button type="button" class="btn btn-xs btn-trans">btn-trans xs</button>
</p>
<hr>