<h2>Colors</h2>
<hr>

<h4>FE Primary and variants</h4>
<div ng-prism-copy="colorSwatch">
  <div class="panel color-swatch primary"></div>
  <div class="panel color-swatch primary-1"></div>
  <div class="panel color-swatch primary-dark"></div>
  <div class="panel color-swatch primary-light"></div>
</div>
<div ng-prism-paste="colorSwatch:markup"></div>

<h4>FE Gray and variants</h4>
<div ng-prism-copy="colorSwatch1">
  <div class="panel color-swatch gray"></div>
  <div class="panel color-swatch gray-1"></div>
  <div class="panel color-swatch gray-dark"></div>
  <div class="panel color-swatch gray-light"></div>
</div>
<div ng-prism-paste="colorSwatch1:markup"></div>

<h4>FE Beige and variants</h4>
<div ng-prism-copy="colorSwatch2">
  <div class="panel color-swatch beige"></div>
  <div class="panel color-swatch beige-1"></div>
  <div class="panel color-swatch beige-dark"></div>
  <div class="panel color-swatch beige-light"></div>
</div>
<div ng-prism-paste="colorSwatch2:markup"></div>

<h4>FE Warning and variants</h4>
<div ng-prism-copy="colorSwatch3">
  <div class="panel color-swatch warning"></div>
  <div class="panel color-swatch warning-1"></div>
  <div class="panel color-swatch warning-dark"></div>
  <div class="panel color-swatch warning-light"></div>
</div>
<div ng-prism-paste="colorSwatch3:markup"></div>

<h4>FE Danger and variants</h4>
<div ng-prism-copy="colorSwatch4">
  <div class="panel color-swatch danger"></div>
  <div class="panel color-swatch danger-1"></div>
  <div class="panel color-swatch danger-dark"></div>
  <div class="panel color-swatch danger-light"></div>
</div>
<div ng-prism-paste="colorSwatch4:markup"></div>

<h4>FE Success and variants</h4>
<div ng-prism-copy="colorSwatch5">
  <div class="panel color-swatch success"></div>
  <div class="panel color-swatch success-1"></div>
  <div class="panel color-swatch success-dark"></div>
  <div class="panel color-swatch success-light"></div>
</div>
<div ng-prism-paste="colorSwatch5:markup"></div>