<h2>Colors</h2>
<hr>

<h3>Primary Colors</h3>
<div ng-prism-copy="colorSwatch">
  <div class="panel color-swatch primary"></div>
  <div class="panel color-swatch gray"></div>
  <div class="panel color-swatch light"></div>
  <div class="panel color-swatch warning"></div>
  <div class="panel color-swatch danger"></div>
  <div class="panel color-swatch success"></div>
</div>
<div ng-prism-paste="colorSwatch:markup"></div>
<hr>

<h3>Secondary Colors</h3>
<div ng-prism-copy="colorSwatch1">
  <div class="panel color-swatch primary-1"></div>
  <div class="panel color-swatch gray-1"></div>
  <div class="panel color-swatch light-1"></div>
  <div class="panel color-swatch warning-1"></div>
  <div class="panel color-swatch danger-1"></div>
  <div class="panel color-swatch success-1"></div>
</div>
<div ng-prism-paste="colorSwatch1:markup"></div>
<hr>

<h3>Tertiary Colors</h3>
<div ng-prism-copy="colorSwatch2">
  <div class="panel color-swatch primary-2"></div>
  <div class="panel color-swatch gray-light"></div>
  <div class="panel color-swatch light-light"></div>
  <div class="panel color-swatch warning-light"></div>
  <div class="panel color-swatch danger-light"></div>
  <div class="panel color-swatch success-light"></div>
</div>
<div ng-prism-paste="colorSwatch2:markup"></div>
<hr>