<h2>Containers for content</h2>
<hr>

<h4>Panels</h4>

<div class="row" ng-prism-copy="containerWell">
  <div class="col-sm-4" ng-prism-copy="containerPanel">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title-Default</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title-Primary</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div><!-- /.col-sm-4 -->
  <div class="col-sm-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title-Success</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title-Info</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div><!-- /.col-sm-4 -->

  <div class="col-sm-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title-Warning</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Panel title-Danger</h3>
      </div>
      <div class="panel-body">
        Panel content
      </div>
    </div>
  </div><!-- /.col-sm-4 -->
</div>

<p class="row">
	<div ng-prism-paste="containerPanel:markup"></div>
</p>

<h4>List groups</h1>

<div class="row">
  <div class="col-sm-6">
    <ul class="list-group">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Morbi leo risus</li>
      <li class="list-group-item">Porta ac consectetur ac</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div><!-- /.col-sm-4 -->

  <div class="col-sm-6">
    <div class="list-group">
      <a href="#" class="list-group-item active">
        Cras justo odio
      </a>
      <a href="javascript:void(0)" class="list-group-item">Dapibus ac facilisis in</a>
      <a href="javascript:void(0)" class="list-group-item">Morbi leo risus</a>
      <a href="javascript:void(0)" class="list-group-item">Porta ac consectetur ac</a>
      <a href="javascript:void(0)" class="list-group-item">Vestibulum at eros</a>
    </div>
  </div><!-- /.col-sm-4 -->
  <div class="col-sm-12"  ng-prism-copy="containerListGrp">
    <div class="list-group">
      <a href="javascript:void(0)" class="list-group-item active">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
      <a href="javascript:void(0)" class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
      <a href="javascript:void(0)" class="list-group-item">
        <h4 class="list-group-item-heading">List group item heading</h4>
        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
      </a>
    </div>
  </div><!-- /.col-sm-4 -->
</div>

<p class="row">
  <div ng-prism-paste="containerListGrp:markup"></div>
</p>

<h4>Wells</h3>

<div ng-prism-copy="containerWell"> 
  	<div class="well">
  		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla sed consectetur.</p>
  	</div>

</div>

<p class="row">
	<div ng-prism-paste="containerWell:markup"></div>
</p>

