<h2>Dropdown Elements</h2>
<hr>

<div class="col-md-12">
    <h4>Accordion</h4>
</div>

<div class="row">
  <div class="col-md-8" ng-prism-copy="navAccordion">
    
    <label class="checkbox">
      <input type="checkbox" ng-model="oneAtATime">
      Open only one at a time
    </label>

    <accordion close-others="oneAtATime">
      
      <accordion-group heading="Default expanded static header" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
        This content is straight in the template.
      </accordion-group>

      <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
        {{group.content}}
      </accordion-group>

      <accordion-group heading="Dynamic Body Content">
        <p>The body of this accordion group grows to fi any content</p>
      </accordion-group>

      <accordion-group is-open="status.open">
        <accordion-heading>
          I can have all sorts of markup. <i class="pull-right fa" ng-class="{'fa-chevron-down':status.open,
                                                                              'fa-chevron-up':!status.open}"></i>
        </accordion-heading>
          Toggling accordioon with fontaweseome arrow icon.
      </accordion-group>

    </accordion>

  </div>
</div>

<div class="col-md-12">
  <div ng-prism-paste="navAccordion:markup"></div>
</div>

<div class="col-md-12">
    <h4>Dropdown Menus</h4>
</div>

<div class="col-md-12">
  <!--text link dropdown -->
  <div class="dropdown" dropdown on-toggle="toggled(open)">   
    <a href class="dropdown-toggle" dropdown-toggle>
      Text link dropdown menus
    </a>  
    <ul class="dropdown-menu">
      <li ng-repeat="choice in items">
        <a href>{{choice}}</a>
      </li>
    </ul>
  </div>
  <!--Single button dropdown-->


</div>