<h2>Fonts</h2>
<hr>

<h3><b>FE headings - Open Sans</b></h3>

<div ng-prism-copy="headingH1">
	<h5 class="fe-h1">Open Sans Thin(300) 48px</h5>
</div>
<div ng-prism-paste="headingH1:markup"></div>

<div ng-prism-copy="headingH2">
	<h5 class="fe-h2">Open Sans Reg(400) 32px</h5>
</div>
<div ng-prism-paste="headingH2:markup"></div>

<div ng-prism-copy="headingH3">
	<h5 class="fe-h3">Open Sans Reg(400) 28px</h5>
</div>
<div ng-prism-paste="headingH3:markup"></div>

<div ng-prism-copy="headingH4">
	<h5 class="fe-h4">Open Sans Reg(400) 24px</h5>
</div>
<div ng-prism-paste="headingH4:markup"></div>

<div ng-prism-copy="headingH5">
	<h5 class="fe-h5">Open Sans Reg(400) 22px</h5>
</div>
<div ng-prism-paste="headingH5:markup"></div>

<div ng-prism-copy="headingH6">
	<h5 class="fe-h6">Open Sans Reg(400) 18px</h5>
</div>
<div ng-prism-paste="headingH6:markup"></div>

<div ng-prism-copy="headingH7">
	<h5 class="fe-h7">Open Sans Reg(400) 16px</h5>
</div>
<div ng-prism-paste="headingH7:markup"></div>

<h3><b>FE Paragraphs and footnotes</b></h3>
<hr>

<div ng-prism-copy="xlParagraph">
	<p class="fe-p-xl"><strong>Large paragraphs:  Font-size: 18px.</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ad quos error consequuntur ut a incidunt dicta sequi odio, minima voluptatum commodi recusandae, architecto suscipit magnam, quae vel minus nesciunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ad quos error consequuntur ut a incidunt dicta sequi odio, minima voluptatum commodi recusandae, architecto suscipit magnam, quae vel minus nesciunt</p>
</div>
<div ng-prism-paste="xlParagraph:markup"></div>
<hr>

<div ng-prism-copy="lgParagraph">
 	<p class="fe-p-lg"><strong>Medium paragraphs:  Font-size: 16px.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ad quos error consequuntur ut a incidunt dicta sequi odio, minima voluptatum commodi recusandae, architecto suscipit magnam, quae vel minus nesciunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ad quos error consequuntur ut a incidunt dicta sequi odio, minima voluptatum commodi recusandae, architecto suscipit magnam, quae vel minus nesciunt</p>
</div>
<div ng-prism-paste="lgParagraph:markup"></div>
<hr>

<div ng-prism-copy="footNote">
	<p class="fe-ftnote"><strong>Footnote for small text such as disclaimer or footer text: Font-size: 12px.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ad quos error consequuntur ut a incidunt dicta sequi odio, minima voluptatum commodi recusandae, architecto suscipit magnam, quae vel minus nesciunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ad quos error consequuntur ut a incidunt dicta sequi odio, minima voluptatum commodi recusandae, architecto suscipit magnam, quae vel minus nesciunt</p>
</div>
<div ng-prism-paste="footNote:markup"></div>
<hr>
