<h2>Navigation Elements</h2>
<hr>

<div class="page-header">
    <h3>Tab Navigation</h3>
</div>

<div class="row" >

  <div class="col-md-8" ng-prism-copy="navTabs">
    <tabset>
      <tab heading="static title">
        <h5><b>The static heading for tab content</b></h5>
        <p>Slow-carb plaid 8-bit viral, beard umami Pinterest. Try-hard cold-pressed narwhal mumblecore squid, gentrify Echo Park Williamsburg ethical sriracha. You probably haven't heard of them crucifix mixtape, leggings normcore selvage Schlitz seitan. Bespoke whatever vinyl PBR leggings. </p>
      </tab>
      <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">         
        {{tab.content}}
      </tab>
      <tab select="alertMe()">
        <tab-heading>
          <i class="glyphicon glyphicon-bell"></i> Alert!
        </tab-heading>
        I've got an HTML heading, and a select callback. Pretty cool!
      </tab>
    </tabset>
  </div>
</div>

<div class="row">
  <div ng-prism-paste="navTabs:markup"></div>
</div>

<div class="page-header">
    <h3>Pagination</h3>
</div>

<div class="row" ng-prism-copy="navPagination">
  <nav>
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="javascript:void(0)">1</a></li>
      <li><a href="javascript:void(0)">2</a></li>
      <li><a href="javascript:void(0)">3</a></li>
      <li><a href="javascript:void(0)">4</a></li>
      <li><a href="javascript:void(0)">5</a></li>
      <li>
        <a href="javascript:void(0)" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="row">
  <div ng-prism-paste="navPagination:markup"></div>
</div>


<div class="page-header">
    <h3>Breadcrumbs</h3>
</div>

<div class="row" ng-prism-copy="navBreadcrumb">
  <ol class="breadcrumb">
    <li><a href="javascript:void(0)">Home</a></li>
    <li><a href="javascript:void(0)">Library</a></li>
    <li class="active">Data</li>
  </ol>
</div>

<div class="row">
  <div ng-prism-paste="navBreadcrumb:markup"></div>
</div>
