<h2>Sliders</h2>
<hr>

<div ng-prism-copy="feSlider">
  <div style="padding: 30px 30px 90px;" class="clearfix">
    <div fe-slider="sliderOptions" ng-model="sliderValue" id="slider-test" class="fe-slider-lg"></div>
  </div>
  <div class="input-group">
    <span class="input-group-addon">Change the slider</span>
    <input type="number" min="0" max="100" class="form-control text-center" ng-model="sliderValue">
    <span class="input-group-addon">% income</span>
  </div>
</div>

<br><br>

<tabset class="code-tabs">
  <tab>
    <tab-heading>HTML</tab-heading>
    <div class="well code-well" ng-prism-paste="feSlider:markup"></div>
  </tab>
  <tab>
    <tab-heading>JS</tab-heading>
    <div class="well code-well">
      <pre>
        <code class="language-javascript" ng-prism>$scope.sliderValue = 40;
        $scope.sliderOptions = {
          min: 0,
          max: 100,
          animate: 'fast',
          current: 20,
          //currentLabel: 'Current',
          topPopover: function(newValue) {
            return newValue + '%';
          },
          bottomPopover: function(newValue) {
            return newValue > 20 ? 'Greater than 20%' : false;
          }
        };</code
      ></pre>
    </div>
  </tab>
</tabset>
