$md-screen: "(min-width: 992px)";
$xs-screen: "(max-width: 767px)";
$s-screen: "(min-width: 768px) and (max-width: 991px)";
$md-s-screen: "(min-width: 992px) and (max-width: 1199px)";


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.clear-bkground {
  background: white;
}

.pull-up {
  margin-top: -20px;
}

.float-center {
  margin-left: auto;
  margin-right: auto;
}

.text-align-center {
  text-align: center;
}

.body-view {
  padding:  20px 0 85px;
  min-height: 600px;
}

.dark-bg {
  background-color: #585348;
  padding: 5px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #fcfcfc;
}

.color-swatch {
  display: inline-block;
  width: 120px;
  height: 120px;
  border: 1px solid #ddd;
  margin-right: 20px;
}

.code-well {
    font-family: monospace;
    box-shadow: none;
    border-radius: 0;
}

.code-tabs .nav-tabs {
  margin-bottom: -1px;
}

.demopage iframe {
  width: 100%;
  height: 300px;
  border: solid 1px #ccc;
}

//demopage side-nav
.body-container .nav-list .nav li{

  margin: 5px 0;

  &.active{
    & > a {
      border-left: 2px solid #1fa0c8;
      font-weight: 600;
    }
  }

  & > a {
    padding: 4px 15px;
    background-color: transparent;
    border-left: 2px solid transparent;
  }
  & > a:focus,
  & > a:hover,
  & > a:active, & > a.active{
    border-left: 2px solid #187d9c;
  }

}

//progresss-bar , need to move to fe-bootstrap later

.progress-bar {
  transtion: width 1s ease-in-out;
}

i-progressbar {
  background: red;
}

//carousel customization
.carousel-inner {
  background: #fff;
}

.carousel-control.left,
.carousel-control.right {
  opacity: 0.5;
  background: #fff;

  &:hover, &:active {
    background: #fff;
    span {
      color:#087ea4;
    }
  }
  span {
    color: #949084;
    text-shadow: none;
  }
}


// injector
@import 'experiments/anchor-scroll/anchor-scroll.scss';
// endinjector
