<nav class="navbar navbar-inverse fe-header" role="navigation" ng-controller="NavbarCtrl">
  <div class="top-line"></div>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="home">
        <span class="fa fa-home"></span> FE Style Guide
      </a>
    </div>

    <div class="collapse navbar-collapse" collapse="navCollapsed">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="components">Components</a></li>
        <li ui-sref-active="active"><a ui-sref="stages">Stages</a></li>
        <!-- <li ui-sref-active="active"><a ui-sref="fe-components">Live Style Guide (alpha)</a></li> -->
      </ul>
    </div>
  </div>
</nav>
