
$track-height-sm: 6px;
$track-height-md: 10px;
$track-height-lg: 16px;
$handle-size-sm: 15px;
$handle-size-md: 20px;
$handle-size-lg: 25px;

@mixin scale-slider($trackHeight, $handleSize) {
  .slider-track {
    height: $trackHeight;
    border-radius: $trackHeight / 2;
  }

  .slider-selection {
    border-radius: $trackHeight / 2 0 0 $trackHeight / 2;
  }

  .slider-track-high {
    border-radius: 0 $trackHeight / 2 $trackHeight / 2 0;
  }

  .slider-handle {
    width: $handleSize;
    height: $handleSize;
  }
}


// Common
[slider],
[data-slider] {

  .slider-horizontal {
    width: 100%;
  }

  .slider-handle {
    border: 1px solid #bbb;
    background-color: #D3D3D3;
    background-image: linear-gradient(to bottom, #FEFEFE 0%, #B4B4B4 100%);
    opacity: 1;
  }

  .slider-track-high {
    background: #4B4944;
  }
}


// Primary
[slider].slider-primary,
[data-slider].slider-primary {

  .slider-selection {
    background: #00A3C8;
    filter: none;
  }
}


// Success
[slider].slider-success,
[data-slider].slider-success {

  .slider-selection {
    background: #91b22c;
    filter: none;
  }
}


// Small
[slider].slider-sm,
[data-slider].slider-sm {
  @include scale-slider($track-height-sm, $handle-size-sm);
}


// Medium
[slider].slider-md,
[data-slider].slider-md,
[slider],
[data-slider] {
  @include scale-slider($track-height-md, $handle-size-md);
}


// Large
[slider].slider-lg,
[data-slider].slider-lg {
  @include scale-slider($track-height-lg, $handle-size-lg);
}


//
// Demo
//

.panel-slider-value {
  margin-top: 10px;
}
