
$track-height-sm: 6px;
$track-height-md: 10px;
$track-height-lg: 16px;
$handle-size-sm: 15px;
$handle-size-md: 20px;
$handle-size-lg: 25px;
$selection-primary-color: #00A3C8;
$selection-success-color: #91b22C;
$selection-warning-color: #C76118;


@mixin scale-slider($trackHeight, $handleSize) {
  .slider-track {
    height: $trackHeight;
    border-radius: $trackHeight / 2;
  }

  .slider-selection {
    border-radius: $trackHeight / 2 0 0 $trackHeight / 2;
  }

  .slider-track-high {
    border-radius: 0 $trackHeight / 2 $trackHeight / 2 0;
  }

  .slider-handle {
    width: $handleSize;
    height: $handleSize;
    margin-left: -$handleSize / 2;
  }
}


@mixin color-selection($color) {
  .slider-selection {
    background: $color;
  }
}


// Common
[slider],
[data-slider] {

  .slider-horizontal {
    width: 100%;
  }

  .slider-handle {
    border: 1px solid #bbb;
    background-color: #D3D3D3;
    background-image: linear-gradient(to bottom, #FEFEFE 0%, #B4B4B4 100%);
    opacity: 1;
  }

  .slider-selection {
    filter: none;
  }

  .slider-track-high {
    background: #4B4944;
  }
}


// Primary
[slider].slider-primary,
[data-slider].slider-primary {
  @include color-selection($selection-primary-color);
}


// Success
[slider].slider-success,
[data-slider].slider-success {
  @include color-selection($selection-success-color);
}

// Warning
[slider].slider-warning,
[data-slider].slider-warning {
  @include color-selection($selection-warning-color);
}


// Small
[slider].slider-sm,
[data-slider].slider-sm {
  @include scale-slider($track-height-sm, $handle-size-sm);
}


// Medium
[slider].slider-md,
[data-slider].slider-md,
[slider],
[data-slider] {
  @include scale-slider($track-height-md, $handle-size-md);
}


// Large
[slider].slider-lg,
[data-slider].slider-lg {
  @include scale-slider($track-height-lg, $handle-size-lg);
}


//
// Demo
//

.panel-slider-value {
  margin-top: 10px;
}


.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #000;
}
.arrow-down-primary {
  border-top-color: $selection-primary-color;
}
.arrow-down-success {
  border-top-color: $selection-success-color;
}


.eighty-pct-c {
  padding-left: 80%;

  .eighty-pct {
    width: 120px;
    margin-left: -60px;
    text-align: center;

    .arrow-down {
      margin: 5px auto 0;
    }
  }
}
